.c-btn-minus{
  background-color: red;
  height: 100px;
  width: 200px;
  border-radius: 8px;
  border: 1px solid grey;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.c-btn-plus{
  background-color: green;
  height: 100px;
  width: 200px;
  border-radius: 8px;
  border: 1px solid grey;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.action-label{
  color: white;
  font-size: 32px;
  font-weight: 700;
}

.c-actions{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}